@mixin breakpoint($point) {
    @if $point == fhd {
        @media (max-width:1600px) {@content;}
    }

    @if $point == hds {
        @media (max-width:1400px) {@content;}
    }

    @if $point == hd {
        @media (max-width:1200px) {@content;}
    }

    @if $point == elg {
        @media (max-width:1023px) {@content;}
    }

    @if $point == md {
        @media (max-width:992px) {@content;}
    }

    @else if  $point == lg {
        @media (max-width:768px) {@content;}
    }

    @else if  $point == sm {
        @media (max-width:576px) {@content;}
    }

    @else if  $point == xs {
        @media (max-width:320px) {@content;}
    }
}

$white: #fff;
$dark-blue: #09256C;
$grey: #484545;

@keyframes bulb {
    0% { top: 0; }
    50% { top: 30px; }
    100% { top: 0; }
}

@keyframes flickerAnimation {
    0% { opacity: 1; }
    20% { opacity: 0.8; }
    40% { opacity: 0.6; }
    60% { opacity: 0.4; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
  }


@include breakpoint(fhd) {
    
}